h2 {
  color: #32617d;
}

.categorys {
  color: #32617d;
  margin-left: 10px;
  margin-right: 40px;
}

.description-category {
  margin-left: 20px;
  margin-right: 40px;
  color: #32617d;
}

.container-service-category {
  color: #32617d;
  margin-left: 20px;
}

.service-category {
  color: #32617d;
  font-weight: 600;
}

.description-service-category {
  margin-left: 10px;
  margin-right: 40px;
}

.container-service {
  margin-left: 10px;
  margin-right: 40px;
}

.service {
  color: #32617d;
  font-weight: 600;
}

/* .service:hover {
  background-color: #32617d;
  color: #fff;
  border-radius: 3px;
  padding: 2px;
} */

hr.line {
  border-top: 1px solid #e0e0e0;
}
