.serviceInfo {
  width: 95%;
}

.titles {
  color: #32617d;
  font-size: 1.1rem;
}

.description {
  font-size: 1rem;
  color: #32617d;
}

.line {
  border-top: 1px solid #e0e0e0;
}

.codeExample {
  height: 300px;
  background-color: #dce7ed;
  border-radius: 5px;
}

.tryContainer {
  margin-top: 20px;
  display: inline-flex;
  background-color: #32617d;
  border-radius: 5px;
}

.tryLink {
  margin: 5px 15px;
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
}

.buttons {
  display: flex;
}

.languageSection {
  margin: 20px 20px 20px 0;
  display: inline-flex;
  border-radius: 5px;
}

.languages {
  margin: 5px 15px;
  color: #3d779b !important;
  text-decoration: none;
  font-weight: 600;
}

/* 

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.query-code,
.parameters-code,
.languages-code {
  height: 300px;
  background-color: #e5edf2;
  border-radius: 5px;
}

.try-container {
  margin-top: 20px;
  display: inline-flex;
  background-color: #32617d;
  border-radius: 5px;
}

.try-container a {
  margin: 5px 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.languages-section {
  margin: 20px 20px 20px 0;
  display: inline-flex;
  border-radius: 5px;
}

.buttons div:first-of-type {
  background-color: #32617d;
}
.buttons div:first-of-type a {
  color: #fff;
}

.languages-section a {
  margin: 5px 15px;
  color: #32617d;
  text-decoration: none;
  font-weight: 600;
}
 */ ;
