#header {
  padding: 0px;
  margin: 0px auto;
}

#logo {
  margin: 35px auto 25px auto;
  min-width: 1024px;
  height: 45px;
  margin-left: 100px;
}

Link:link,
Link:visited {
  color: #305f7b;
  text-decoration: none;
}

#logo a.logo_style {
  float: left;
  padding: 0px 80px 49px 0px;
  background: url(../assets/logo.jpg) no-repeat;
  width: 255px;
}

#espacio_pestanas {
  background-color: #376b8c;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 46px;
}

#pestanas {
  margin: 0px auto 0px 73px;
  font-size: 16px;
  font-family: "Arial";
  font-weight: bold;
}

#pestanas ul {
  margin-left: 2px;
  padding: 0px;
  list-style: none;
}

#pestanas li {
  float: left;
  margin: 6px 10px 0px 0px;
  padding-left: 0px;
}
#pestanas a {
  padding: 10px 25px 6px 25px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

#pestanas a:hover {
  background-color: #fff;
  color: #305f7b;
  border-radius: 3px;
}

#pestanas li.active_a {
  background-color: #fff;
  font-weight: bold;
  border-radius: 3px;
}

#pestanas a.active_b {
  background: url(../assets/img_izq_act.png) no-repeat left top;
  color: #305f7b;
}

.pageTitle {
  min-width: 1024px;
  height: 60px;
  background-color: #d5e2ea;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.title {
  margin: 0;
  padding-left: 100px;
  font-weight: 600;
}
